body {
  width: 100%;
  height: 100%;
  margin-left: 2.5%;
}

/* Fontes */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 14px;
}

.frank_ruhl_libre {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

/* Header Comum*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 2%;
}

.logo_header {
  width: 20%;
}

.button {
  display: flex;
  border: none;
  background-color: white;
  cursor: pointer;
}

.botoes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2%;
  justify-content: space-around;
  margin-top: 15px;
  border-top: solid #000000 1px;
  border-bottom: solid #000000 1px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.button:hover {
  color: #899ab4;
  font-weight: bold;
}

/* Categorias */

#div_categorias {
  display: flex;
  width: 10%;
  background-color: #eceade;
  border-radius: 10px;
  flex-direction: column;
  padding: 2%;
  font-size: 12px;
  position: absolute;
  box-shadow: 1px 1px 1px 1px #cfcdc1;
  transition: 2s;
}

.categoriasPai {
  display: flex;
  justify-items: flex-start;
  width: 25%;
}

.buttonCategoria {
  display: flex;
  border: none;
  cursor: pointer;
  background-color: #eceade;
  justify-content: flex-start;
  width: 100%%;
}

.botoesCategoria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  padding: 4%;
}

.buttonCategoria:hover {
  color: #899ab4;
  font-weight: bold;
}

/* Header Branco - Cadastro e Login*/
/* Pagina de cadastro */

.cadastro {
  width: 92%;
  /*border: #000000 solid 2px;*/
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_cadastro {
  all: unset;
  background-color: azure;
  border-radius: 10px;
  width: 25%;
  color: #000000;
  display: flex;
  padding: 0.5%;
  font-size: 14px;
  text-align: center;
}

#bodyCadastro {
  background-image: url("../assets/imgs/artes-de-monet/arte-monet-cadastro-e-login.jpg");
  background-color: #000000;
  background-size: cover;
}

.headerCadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo_headerBranco {
  width: 20%;
}

.buttonCadastro {
  all: unset;
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

.buttonCadastro:hover {
  color: #3c5478;
  font-weight: bold;
}

.botoesCadastro {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2%;
  justify-content: space-around;
  margin-top: 15px;
  border-top: solid #ffffff 1px;
  border-bottom: solid #ffffff 1px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input_cadastro {
  color: #000000;
}

.buttonCadastrar {
  display: flex;
  all: unset;
  cursor: pointer;
  background-color: #3c5478;
  width: 10%;
  height: 30px;
  justify-items: center;
  border-radius: 10px;
  margin-top: 2%;
  text-align: center;
  text-decoration: double;
}

/* Conteiner */

body {
  padding: auto;
}

body:hover {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  gap: 2%;
  margin-bottom: 20px;
}

.container:hover {
  transform: scaleY(5px);
}

.quadrado {
  display: flex;
  width: 15%;
  background-color: #eceade;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.quadrado img {
  width: 70%;
}

/* Container Livros preferidos */
.livroPreridoConteudo {
  display: flex;
  gap: 25px;
}

.livroPreferido_Pai {
  width: 92%;
  border-top: solid #000000 1px;
}

.container2 {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  flex-direction: row;
  margin-bottom: 50px;
  z-index: 10;
}

.imagemPreferido {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.img_preferido {
  margin-top: 30px;
  width: 100%;
}

.paragrafo1 {
  display: flex;
  width: 50%;
  height: 60%;
  z-index: 11;
}

#tituloPreferido {
  font-size: 14px;
  font-weight: 500;
}

/* Bloco de comentários */
.comentariosPai {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.comentarios {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 2%;
}

.comentario {
  width: 92%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  margin-top: 2%;
  padding: 2%;
}

.fazerComentario {
  width: 92%;
  height: 120px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 10%;
}

.button_comentar {
  border: none;
  width: 15%;
  height: 50%;
  background-color: #899ab4;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* Container Sobre Mim */

.sobreMimPai {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 100%;
  border-top: solid #000000 1px;
  align-content: flex-end;
}

#sobreMim:hover{
  scroll-behavior: smooth;
}

.sobreMim {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

.sobreMimConteudo {
  display: flex;
  flex-direction: row;
}

.paragrafo2 {
  width: 35%;
  height: 40%;
  margin-left: 20%;
  text-align: right;
  margin-right: 2%;
}

.container3 {
  display: flex;
  width: 20%;
  height: 80%;
  background-color: #eceade;
  border-radius: 10px;
  flex-direction: row;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}

.img_sobreMim {
  width: 100%;
  height: 1000%;
  margin-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

/* Playlist */

.playlist {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 100%;
  border-top: solid #000000 1px;
  margin-bottom: 2%;
}

.container4 {
  display: flex;
  margin-bottom: 2%;
}

/*footer */

.footer {
  display: flex;
  width: 92%;
  height: 100%;
  border-top: solid #000000 1px;
  align-content: flex-end;
  padding: 1%;
}

.footer img {
  width: 20%;
}

.conteudoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.redesSociaisPai {
  display: flex;
  flex-direction: row;
}

.redesSociaisPai p {
  display: flex;
  flex-direction: row;
  gap: 4%;
  align-items: center;
}

.direitosAutorais {
  display: flex;
}

/* Descrição */

.edicaoPerfil {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.descricao {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}

/* grafico */

.graficoPai {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.grafico {
  display: flex;
  width: 70%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}

.grafico p {
  font-weight: bolder;
}

.myChart {
  height: 400px;
}

.kpi_corVermelha {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #c46d5a;
  border-radius: 10px;
  padding: 8%;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.kpi_corVerde {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #5c6a50;
  border-radius: 10px;
  padding: 8%;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.kpi_corAmarela {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #eeb975;
  border-radius: 10px;
  padding: 8%;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.kpis {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.labels {
  display: flex;
  flex-direction: column;
}

.labelPai {
  font-size: small;
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.label1 {
  display: flex;
  width: 20%;
  height: 30%;
  background-color: #5c6a50;
  border-radius: 10px;
  padding: 2%;
  color: #ffffff;
}

.label2 {
  display: flex;
  width: 20%;
  height: 30%;
  background-color: #eeb975;
  border-radius: 10px;
  padding: 2%;
  color: #ffffff;
}

.label3 {
  display: flex;
  width: 20%;
  height: 30%;
  background-color: #c46d5a;
  border-radius: 10px;
  padding: 2%;
  color: #ffffff;
}

/* Questionário */

.questionario {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.questionarioConteudo {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  padding: 2%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2%;
}

.questionarioCointainer {
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.respostaQuestionario {
  border: solid 2px #eeb975;
  border-radius: 10px;
  padding: 2%;
  margin-left: 2%;
}

.tituloQuestionario {
  font-weight: bolder;
  font-size: 20px;
  color: #3c5478;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

#button_votar {
  width: 30%;
  height: 30%;
  font-size: 16px;
}

#button_resultado {
  width: 40%;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: #eeb975;
}

.respostaQuestionario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  font-size: 20px;
}

/* Diagrama de Venn */

.diagramaDeVennPai {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.diagramaDeVennConteudo {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #eceade;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.diagramaTitulo {
  font-size: 18px;
  font-weight: bolder;
}

.conteudoDiagrama {
  display: flex;
  flex-direction: row;
}

.gostosDiagrama {
  display: flex;
  flex-direction: column;
}

#gostos {
  display: flex;
  /*width: %;*/
  border-bottom: solid #000000 1px;
  align-content: flex-end;
  padding: 1%;
}

/* Página Anne */

.banner-anne {
  width: 92%;
  margin-bottom: 2%;
}

.quadrado1 {
  display: flex;
  width: 30%;
  background-color: #eceade;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.quadrado1 img {
  width: 80%;
}

.conteudoAnne {
  display: flex;

  align-content: space-around;
}

.conteudoAnne1 {
  display: flex;
  align-content: space-around;
  margin-left: 10%;
}

.imagemAnne {
  height: 200px;
}

.conteudoAnne2 {
  display: flex;
  gap: 2%;
  justify-content: center;
  padding: 2%;
  width: 75%;
}

.texto {
  width: 50%;
  border-top: solid #000000 1px;
}

.texto2 {
  width: 90%;
  border-top: solid #000000 1px;

}

.titulo {
  font-weight: bold;
}

.banner-anne2 {
  display: flex;
  padding: 2%;
}
.banner-anne2 img {
  width: 85%;
  align-content: space-around;
}

.anneGif {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 2%;
}

.textoJornadaAnne {
  width: 80%;
}
