body {
    width: 100%;
    height: 100%;
    margin-left: 2.5%;

}

/* Fontes */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 12px;
}

.frank_ruhl_libre {
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;

}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;

}

.logo_header {
    width: 20%;

}

.button {
    all: unset;
    display: flex;

}

.botoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2%;
    justify-content: space-around;
    margin-top: 15px;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    border-width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Conteúdo */

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 92%;
    height: 200px;
    margin-top: 5%;
    margin-bottom: 8%;

}

.quadrado {
    display: flex;
    width: 260px;
    height: 280px;
    background-color: #ECEADE;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.quadrado img {
    width: 200px;
    height: 200px;
}

.container2 {
    display: flex;
    width: 260px;
    height: 280px;
    background-color: #ECEADE;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tituloPrincipal {
    border-bottom: solid #000000 1px;
    
}
.imgPrincipal {
    width: 200px;
    height: 200px;
}