body {
    width: 100%;
    height: 100%;
    margin-left: 2.5%;

}

/* Fontes */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 12px;
}

.frank_ruhl_libre {
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;

}

/* Header Comum*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;

}

.logo_header {
    width: 20%;

}

.button {
    display: flex;
    border: none;
    background-color: white;
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2%;
    justify-content: space-around;
    margin-top: 15px;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.button:hover {
    color: #899AB4;
}

/* Header Branco - Cadastro e Login*/
#bodyCadastro {
    background-image: url('../imgs/artes-de-monet/arte-monet-cadastro-e-login.jpg');
    background-size: cover;

}

.headerCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;

}

.logo_headerBranco {
    width: 20%;

}

.buttonCadastro {
    all: unset;
    display: flex;
    color: #ffffff;
}

.botoesCadastro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2%;
    justify-content: space-around;
    margin-top: 15px;
    border-top: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Conteiner */

body {
    padding: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    gap: 2%;
    margin-bottom: 20px;

}

.container:hover {
    transform: scaleY(5px);
}

.quadrado {
    display: flex;
    width: 15%;
    background-color: #ECEADE;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;

}

.quadrado img {
    width: 70%;

}

/* Container Livros preferidos */
.livroPreridoConteudo {
    display: flex;
    gap: 25px;
}

.livroPreferido {
    width: 92%;
    border-top: solid #000000 1px;

}


.container2 {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #ECEADE;
    border-radius: 10px;
    flex-direction: row;
    margin-bottom: 50px;
    z-index: 10;

}

.imagemPreferido {
    display: flex;
    flex-direction: column;
    padding: 3%;
}



.img_preferido {
    margin-top: 30px;
    width: 100%;
}

.paragrafo1 {
    display: flex;
    width: 50%;
    height: 60%;
    z-index: 11;

}

#tituloPreferido {
    font-size: 14px;
    font-weight: 500;


}

/* Container Sobre Mim */

.sobreMim {
    width: 92%;
    border-top: solid #000000 1px;

}

.container3 {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #ECEADE;
    border-radius: 10px;
    flex-direction: row;
    margin-bottom: 50px;
    z-index: 10;

}

.img_sobreMim {
    width: 70%;

}
/* Pagina de cadastro */

.cadastro {
    width: 92%;
    /*border: #000000 solid 2px;*/
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_cadastro {
    all: unset;
    background-color: azure;
    border-radius: 10px;
    width: 25%;
}